/* animations.module.css */
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-on-click {
  animation: tilt 200ms ease-in-out forwards;
}
